<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>My social Circle</title>
</head>

<body class="body-registrar">
    <div class="info">
    
        <div class="descricao">
            <h1 id="logomarca">Circle<span>Hub</span></h1>
            <p>
                Junte-se ao CircleHub para se conectar com a sua gente.
            </p>
            <ul>
                <li> - Conecte-se com seus interesses</li>
                <li> - Fique por dentro de seus interesses</li>
                <li> - Compartilhe Seu Conhecimento e Experiência</li>
                <li> - Crie e Gerencie Seu Próprio Circulo Social</li>
                <li> - Mantenha-se Conectado com Amigos e Colegas</li>
            </ul>
        </div>

    </div>
    <div class="formulario">

        <div style="display: none;" id="autenticar">
            <form class="autenticar" action="">
                <p>Acesse sua conta</p>
                <div class="border">
                    <div class="inputs">
                        <input required type="text" name="nome" id="nome" placeholder="Digite seu nome">
                        <input required type="password" placeholder="Digite sua senha" name="senha" id="senha">
                    </div>
                    <input id="entrar" type="submit" value="Entrar">
                    <a href="#" id="link_autenticar">Não tem uma conta? clique aqui!</a>
                </div>
            </form>
        </div>

        <div style="display: block;" id="registrar">
            <form class="registrar" action="">
                <p>Crie sua conta</p>
                <div class="border">
                    <div class="inputs">
                        <input type="text" placeholder="Nome de usuario">
                        <input type="email" placeholder="Digite seu email">
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
                        <input type="password" placeholder="Confirme sua senha" name="c_senha" id="c_senha">
                    </div>
                    <input id="entrar" type="submit" value="Cadastrar">
                    <a href="#" id="link_registrar">Já tem uma conta? clique aqui!</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        let registrar = document.getElementById('link_registrar')
        let autenticar = document.getElementById('link_autenticar')
        let form_a = document.getElementById('autenticar')
        let form_r = document.getElementById('registrar')


        registrar.addEventListener('click', function (event) {
            event.preventDefault()

            form_a.style.display = 'block'
            form_r.style.display = 'none'

            console.log("teste")
        })

        autenticar.addEventListener('click', function (event) {
            event.preventDefault()

            form_a.style.display = 'none'
            form_r.style.display = 'block'
        })
    </script>
</body>

</html>