<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Feed | CircleHub</title>
</head>

<body class="timeline">
    <header>
        <div class="container">
            <h1 id="logomarca">Circle<span>Hub</span></h1>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Minha rede</a></li>
            </ul>
            <form action="" method="get">
                <input type="text" placeholder="Pesquisar">
                <input type="button" value="pesquisar">
            </form>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="n1">
                <div class="perfil">
                    <div class="outbar"></div>
                    <div class="fotodeperfil"></div>
                    <a href="#">Willian</a>
                    <p>Gosto de tudo e um pouco a mais</p>
                    <ul>
                        <li>Conexões: 0</li>
                        <li>Postagens: 0</li>
                        <li>Curtidas: 0</li>
                    </ul>
                </div>
                
                <div class="grupos">

                </div>
            </section>

            <section class="postagem">
                <div class="criar">

                </div>

                <div class="exibir">

                </div>
            </section>
        </div>
    </main>
</body>

</html>